<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="config">
            <h2><span>Конфигурация</span> {{config.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Property Key</span></dt>
                <dd>
                    <span>{{config.propertyKey}}</span>
                </dd>
                <dt><span>Property Value</span></dt>
                <dd>
                    <span>{{config.propertyValue}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Назад</span>
            </button>

            <button type="button"
                    [routerLink]="['/config', config.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Редакция</span>
            </button>
        </div>
    </div>
</div>
