<div>
    <h1 class="test-sp-header">Избор на услуга с ниво на осигуреност</h1>

    <div class="sp-link-holder">
        <div class="sp-link-container">
            <a mat-button color="primary" class="service-provider-link" [href]="sp1Url">Тестова услуга 1 - ниво на осигуреност "Ниско" (LOW)</a> <br/>
            <a mat-button color="primary" class="service-provider-link" [href]="sp2Url">Тестова услуга 2 - ниво на осигуреност "Съществено" (SUBSTANTIAL)</a> <br/>
            <a mat-button color="primary" class="service-provider-link" [href]="sp3Url">Тестова услуга 3 - ниво на осигуреност "Високо" (HIGH)</a> <br/>
            <a mat-button color="primary" class="service-provider-link" [href]="profileUrl">Профил - ниво на осигуреност "Високо" (HIGH)</a> <br/>
        </div>
    </div>
</div>
