<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2  *ngIf="settingsForm.get('login').value">Потребителски настройки за [<b>{{settingsForm.get('login').value}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Успешно запазени настройки!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.get('login').value" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">Име</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Име"
                           formControlName="firstName">
                    <div *ngIf="settingsForm.get('firstName').invalid && (settingsForm.get('firstName').dirty || settingsForm.get('firstName').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.required">
                            Задължително поле.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.minlength">
                            Името трябва да бъде с дължина поне 1 символ.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.maxlength">
                            Името неможе да бъде с дължина по-голяма от 50 символа.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Фамилия"
                           formControlName="lastName">
                    <div *ngIf="settingsForm.get('lastName').invalid && (settingsForm.get('lastName').dirty || settingsForm.get('lastName').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('lastName').errors.required">
                            Задължително поле.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('lastName').errors.minlength">
                            Фамилията трябва да бъде с дължина поне 1 символ.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('lastName').errors.maxlength">
                            Фамилията неможе да бъде с дължина по-голяма от 50 символа.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Имейл</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Имейл"
                           formControlName="email">
                    <div *ngIf="settingsForm.get('email').invalid && (settingsForm.get('email').dirty || settingsForm.get('email').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.required">
                            Задължително поле.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.email">
                            Невалиден email.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.minlength">
                            Имейлът трябва да бъде с дължина поне 1 символ.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.maxlength">
                            Имейлът неможе да бъде с дължина по-голяма от 50 символа.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary">Запази</button>
            </form>
        </div>
    </div>

</div>
