<footer class="footer">
   <div class="footer-content">
       Тази система е създаден в рамките на проект BG05SFOP001-1.004-0001 „Надграждане на хоризонталните и централни
       системи на електронното управление във връзка с прилагане на Единния модел за заявяване, заплащане и
       предоставяне на електронни административни услуги“ по Оперативна програма „Добро управление” 2014-2020 г.,
       съфинансирана от Европейския съюз чрез Европейския социален фонд.
       <a href="www.eufunds.bg" class="footer-link">www.eufunds.bg</a>
   </div>
</footer>
