<div class="lending-page-wrapper">
</div>
<div class="container">
    <h2>
        Вие достъпихте началната страница на еАвт 2.0 за успешно преминаване през процеса по aвтентикация следва да бъдете прехвърлени тук от страницата на доставчик на услуги.
    </h2>
    <h3>
        Може да прегледатe актуалната Metadata на доставчик на идентификация тук
    </h3>
    <div class="btn-holder"> 
        <a mat-raised-button color="primary" class="e-btn" href="https://eauth.egov.bg/tfauthbe/saml/metadata/idp" target="_blank">METADATA</a>
        <a mat-raised-button color="warn" class="e-btn" [href]="invalidateSSO">Инвалидиране на SSO сесия</a> <br/>
    </div>
</div>

