.login-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 auto 0;
    width: 78%;
    margin-bottom: 10px;
    position: relative;
    left: 11%;
    @media (orientation:landscape){
        width: 70%;

    }
    

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.login-button-wrapper {
    margin-left: auto;

}
}