.lang-btn {
    border: none;
    background-color: transparent;
    width: 50px;
    padding: 0;
    .icon {
        width: 100%;
    }

    @media (max-width: 650px) {
        width: 40px;
    }
}

.lang-btn:focus {
    outline: none;
}

.lang-btn:hover {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 5px solid #d2dde2;
}