#verifier-input-holder {
    margin-bottom: 10px;

    input {
      margin: 0 5px;
      text-align: center;
      line-height: 40px;
      font-size: 30px;
      border: solid 1px #ccc;
      box-shadow: 0 0 5px #ccc inset;
      outline: none;
      width: 10%;
      transition: all .2s ease-in-out;
      border-radius: 3px;
      
      &:focus {
        border-color: #d2dde2;
        box-shadow: 0 0 5px #d2dde2 inset;
      }
      
      &::selection {
        background: transparent;
      }
  }
}

.verify-button-holder {
    margin-bottom: 5px;

    .verify-btn {
        background-color: #0a8e8c;
    }
    .verify-btn:disabled,
    .verify-btn[disabled] {
      color: white;
      background-color: #67807f;
    }
}

.clear-code-btn {
    background-color: #f2b01f;
    margin-left: 10px;
}