
.resend-btn {
  margin-right: 10px;
}
  
.code-resend {
  background-color: #318fc1;
  color: #fff;
  border-radius: 2mm;
  text-decoration: none;
  font-size: 12pt;
}

.qr-code-btn {
  font-size: 9pt;
  background-color: grey;
  margin-left: 10px;
}
