<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Парола за [<strong>{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Успешно сменена парола!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Възникна грешка!</strong> Паролата ви, не може да бъде сменена.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Паролата не съвпада с паролата за потвърждение!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Сегашна парола</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Сегашна парола"
                           formControlName="currentPassword">
                    <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword').errors.required">
                            Паролата е задължителна.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Нова парола</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Нова парола"
                           formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.required">
                             Паролата е задължителна.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.minlength">
                            Паролата трябва да е с дължина поне 4 символа.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.maxlength">
                            Паролата не може да бъде с дължина по-голяма от 50 символа.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Потвърди нова парола</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Потвърди нова парола"
                           formControlName="confirmPassword">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.required">
                            Паролата за потвърждение е задължителна.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                           Паролата за потвърждение трябва да е с дължина поне 4 символа.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                           Паролата за потвърждение не може да бъде с дължина по-голяма от 50 символа.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Запази</button>
            </form>
        </div>
    </div>
</div>
