<div class="select-supplier-wrapper">
  <div class="select-supplier-holder">
    <div class="left-panel-header-holder">
      <div style="display: flex;">
        <div style="position: relative; width: 100%;">
          <img src="/assets/img/european-flag.png" style="width: 45%;" alt="operation-program" />
        </div>
        <div style="position: relative; width: 40%;">
          <img src="/assets/img/operation-program.png" style="width: 95%;
          margin-top: 3%;
          margin-left: auto;"
          alt="operation-program" />
        </div>
      </div>

      <img src="/assets/img/logo-gerb.png" class="img-gerb" alt="gerb" />

    </div>
    <div class="right-panel-header-holder">
      <div class="lang-btn-holder">
        <app-lang-button [icon]="'../../../assets/img/bulgaria-circular.png'" lang="bg">
        </app-lang-button>
        <app-lang-button [icon]="'../../../assets/img/great-britain-circular.png'" lang="en">
        </app-lang-button>
      </div>

      <div class="responsive-header-wrapper">
        <img src="/assets/img/logo-gerb.png" alt="logo-gerb" />
      </div>

      <div class="select-supplier-conatainer">
        <h3 class="eid-header">{{'select-supplier-header' | translate}}</h3>
        <p class="description-select-supplier">{{'choose-supplier-desc' | translate}}</p>
        <mat-form-field class="supplier-selector" style="margin: 0 auto;">
          <mat-label>{{'choose-supplier-header' | translate}}</mat-label>
          <mat-select (selectionChange)="getSelectedidentifier($event)">
            <mat-option *ngFor="let eId of eIdSelector" [value]="eId">
              {{eId.name | customTranslate:locale}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-login *ngIf="showLogin" [identityProvider]="selectedIdentityProvider">
      </app-login>

      <div class="footer-content-responsive">
        <p>{{'footer-desc' | translate}} <a href="www.eufunds.bg" class="footer-link">www.eufunds.bg</a></p>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-content">
        <p>{{'footer-desc' | translate}} <a href="www.eufunds.bg" class="footer-link">www.eufunds.bg</a></p>
      </div>
    </footer>
  </div>
</div>