.header {
    width: 100%;
    height: 140px;
    background-color: #ffffff;
}
.heading {
    position: relative;
    top: 0.6vw;
    margin-bottom: 20px;
    @media (max-width: 412px) {
        font-size: 24px;

        // height: 85vh;
    }
    @media (max-width: 1025px) {
        font-size: 28px;

        // height: 85vh;
    }
    @media (max-width: 1025px) {
        font-size: 20px;

        // height: 85vh;
    }
    @media (max-width: 415px) {
        width: 250px;
    }
    @media (max-width: 361px) and (orientation: portrait) {
        margin-top: 8px;
        width: 200px;
        margin-bottom: 0px;
    }
    @media (max-width: 281px) and (orientation: portrait) {
        //  width: 340px;
        width: 150px;
    }
    @media (min-width: 511px) and(max-width: 513px) and (max-height: 718px) {
        margin-bottom: -8px;
    }
}
.sub-heading {
    @media (max-width: 420px) {
        margin-top: 8px;

        font-size: 3.5vw;
    }
    @media (max-width: 361px) and (orientation: portrait) {
        width: 200px;
    }
    @media (max-width: 281px) and (orientation: portrait) {
        //  width: 340px;
        width: 150px;
    }
}
.headerContent {
    position: relative;
    top: 1.5vh;
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-right: 0.5vw;
    @media (max-width: 420px) {
        margin: 0 0 0 0;
    }
}

.img-logo {
    padding-right: 1.5vw;
    margin-bottom: 20px;
    @media (max-width: 550px) {
        position: relative;
        // left:1vw;
        margin-right: 10px;
        top: 2.5vw;
        height: 100px;
    }
    @media (max-width: 281px) and (orientation: portrait) {
        //  width: 340px;
        margin-right: 0px;
    }
}

.select-supplier-wrapper {
    height: 85vh;

    display: flex;
    // background-image: url('/assets/img/background-login.jpg');
    background: linear-gradient(to bottom, #014f86, #468faf 70%, #ffffff 68%);

    @media (max-height: 767px) and (orientation: landscape) and (max-width: 1023px) {
        height: 170vh;
    }
    @media (max-width: 569px) and (orientation: landscape) {
        height: 159vh;
    }
    @media (max-width: 415px) and (max-height: 732px) and (orientation: portrait) {
        height: 85vh;
    }
    @media (max-width: 361px) and (max-height: 641px) and (orientation: portrait) {
        height: 92vh;
    }
    @media (max-width: 351px) and (orientation: portrait) {
        //  width: 340px;
        height: 108vh;
    }
    @media (max-height: 767px) and (min-height: 567px) and (max-width: 1023px) and (orientation: landscape) {
        height: 190vh;
    }
    @media (max-width: 569px) and (max-height: 321px) and (orientation: landscape) {
        height: 200vh;
    }
    @media (min-width: 652px) and(max-width: 654px) and (max-height: 281px) and (orientation: landscape) {
        height: 220vh;
    }
    @media (max-width: 1025px) and (max-height: 601px) and (min-width: 1023px) and (min-height: 599px) {
        height: 110vh;
    }
    @media (max-width: 1115px) and (min-width: 1113px) {
        height: 100vh;
    }
    @media (max-width: 513px) and (max-height: 718px) and (min-width: 510px) and (min-height: 715px) {
        height: 100vh;
    }
}
.help-link {
    color: #014f86;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    left: 55vw;
    bottom: 2vw;
    text-decoration: none;
    @media (max-height: 414px) and (max-width: 831px) and (orientation: landscape) {
        /* CSS stuff */
        bottom: 1vw;
        left: 120px;
        font-size: 18px;
    }
    @media (max-height: 414px) and (max-width: 736px) and (orientation: landscape) {
        /* CSS stuff */
        bottom: 4vw;
        left: 120px;
        font-size: 18px;
    }
    @media (max-height: 541px) and (max-width: 736px) and (orientation: landscape) {
        /* CSS stuff */
        bottom: 2.5vw;
        left: 120px;
        font-size: 18px;
    }
    @media (max-height: 822px) and (orientation: portrait) {
        right: 100px;
        font-size: 18px;
        bottom: 2.5vw;
    }
    @media (max-width: 414px) {
        left: 125px;
        font-size: 18px;
        bottom: 8vw;
    }
    @media (max-height: 720px) and (orientation: portrait) {
        left: 220px;
        font-size: 18px;
        bottom: 8vw;
    }
    @media (max-width: 400px) {
        left: 0px;
        font-size: 18px;
        bottom: 2.5vw;
    }
}

.select-supplier-holder {
    display: flex;
    width: 70%;
    height: 82%;
    margin: 2% auto;
    background-color: -webkit-gradient(to bottom, #014f86, #468faf);
    -webkit-box-shadow: linear-gradient(to bottom, #014f86, #468faf);
    @media (max-width: 750px) {
        width: 75%;
    }
    @media (max-width: 550px) {
        width: 85%;
    }
    @media (max-width: 400px) {
        width: 95%;
    }
    @media (max-width: 653px) and (max-height: 280px) and (orientation: landscape) {
        height: 90%;
    }
}

.left-side-content-holder {
    display: flex;
    flex-direction: column;

    .header-text {
        display: flex;
        margin: 0 auto;
        position: relative;
        top: 70px;
        color: #1a1919;
        font-size: 24pt;

        @media (max-width: 1024px) {
            font-size: 18pt;
            top: 40px;
        }
    }

    .header-subtext {
        display: flex;
        margin: 1em auto;
        position: relative;
        bottom: 70px;
        color: #1a1919;
        font-size: 20pt;
        width: 50%;
        text-align: center;
    }
}
.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(450px - 1vw);
    background-color: #eeeeee;
    position: relative;
    top: 3vw;
    left: 12vw;
    width: 55%;
    line-height: 1.6;
    @media (max-width: 1600px) {
        top: 4vw;
    }
    @media (max-width: 1200px) {
        top: 5vw;
    }
    @media (max-width: 950px) {
        top: 7vw;
    }
    @media (max-width: 800px) {
        display: none;
    }
}
.mobile-info-box {
    @media (max-width: 823px) {
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
        width: 90%;
        margin: auto;
    }
    @media (max-width: 650px) {
        min-height: fit-content;
        font-size: 2.4vw;
    }
    @media (max-width: 539px) {
        min-height: 220px;
        font-size: 2.8vw;
    }
    @media (max-width: 400px) {
        min-height: 180px;
    }
    @media (max-width: 321px) {
        min-height: 150px;
    }

    @media (max-height: 301px) and (orientation: landscape) {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
        width: 90%;
        margin: auto;
        min-height: fit-content;
    }

    @media (max-height: 280px) and (orientation: landscape) {
        font-size: 11.5px;
        display: flex;
        flex-direction: column;
        background-color: #eeeeee;
        width: 90%;
        margin: auto;
        min-height: fit-content;
    }
}

.mobile-info-icon {
    margin: 10px 0 0 30px;
    width: 40px;
    height: 40px;
    @media (max-width: 680px) {
        width: 30px;
        height: 30px;
    }
    @media (max-width: 400px) {
        width: 25px;
        height: 25px;
    }
}

.inner-info-box {
    width: 80%;
    margin: auto;
    margin-top: 90px;
    @media (max-width: 1442px) {
        margin-top: 50px;
        font-size: 16px;
    }
    @media (max-width: 920px) {
        width: 90%;

        font-size: 16px;
    }
    @media (max-width: 920px) and (orientation: portrait) {
        margin-top: 0px;
        font-size: 14px;
    }
}
.info-icon {
    height: 35px;
    width: 35px;
    margin: 10px 0 5px 10px;
}

.right-side-content-holder-mobile {
    display: flex;
    flex-direction: row;
    @media (min-width: 1024px) {
        display: none;
        // height: 85vh;
    }
    @media (max-height: 1365px) {
        display: none;
        // height: 85vh;
    }
    .img-gerb {
        display: flex;
        width: 15%;
    }
    .header-text-holder {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin-left: 1em;
        .header-text {
            display: flex;
            color: #1a1919;
            font-size: 14pt;
            margin-bottom: 0;

            @media (max-width: 590px) {
                font-size: 12pt;
            }
        }

        .header-subtext {
            display: flex;
            color: #1a1919;
            font-size: 14pt;
            text-align: center;
            margin-top: 0;
            @media (max-width: 590px) {
                font-size: 12pt;
            }
        }
    }
}

.responsive-header-wrapper {
    display: none;

    img {
        @media (max-width: 1024px) {
            display: flex;
            margin: 0 auto;
            width: 19%;
            height: 45%;
        }
    }

    @media (max-width: 1024px) {
        display: flex;
    }
}

.left-panel-container {
    display: flex;
    width: 80%;
    //  height: 70%;
    margin: 5% auto;
    -webkit-box-shadow: 0px 6px 38px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 38px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 38px 20px rgba(0, 0, 0, 0.75);
}

.left-panel-header-holder {
    width: 50%;
    background-color: #ffffff;
    @media (max-width: 823px) {
        // margin: 0 auto;
        width: 100%;
    }
}

.right-panel-header-holder {
    width: calc(70% - 10vw);
    background-color: white;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    position: relative;

    @media (max-width: 1025px) {
        font-size: 1.1vw;
    }
    @media (max-width: 1270px) {
        font-size: 1.18vw;
    }
    @media (max-width: 1000px) {
        font-size: 1.3vw;
    }
    @media (max-width: 823px) {
        display: none;
    }

    .profile-btn-holder {
        position: relative;
        top: 40%;
        left: 30%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        a {
            background-color: whitesmoke;
            font-size: 1vw;
            color: black;
        }
        @media (min-width: 1439px) {
            left: 16%;
        }
        @media (max-width: 1115px) {
            left: 12%;
            top: 30%;
        }
        @media (min-width: 1115px) {
            left: 18%;
        }
        @media (max-width: 910px) and (orientation: landscape) {
            left: 13%;
        }
        @media (max-width: 1153px) and (min-width: 1140px) and (max-height: 866px) and (min-height: 850px){
            left:13%;
           }
    }

}
::ng-deep .mat-form-field-wrapper {
    margin-left: 16%;
    @media (orientation: landscape) and (max-height: 767px) {
        margin-left: 0%;
    }
}
.info {
    @media(min-width: 1025px) {
        font-size: 18px;
    }

    @media (orientation: landscape) and (max-width: 910px) {
        font-size: 13px;
    }
    @media (orientation: portrait) and (max-width: 415px) {
        font-size: 13px;
    }
    @media (max-height: 767px) and (min-width: 1250px) and (max-width: 1290px){
        font-size: 14px
    }
}
.select-supplier-container {
    background-color: #eeeeee;
    width: 80%;
    margin: 4vh auto auto 2vw;
    height: 500px;
    margin-bottom: 0;
    overflow: visible;
    @media (min-width: 1900px) and (min-height: 1060px) {
        width: 80%;
        height: 570px;
    }
    @media (max-width: 1025px) {
        width: 95%;
        height: 475px;
    }
    @media (max-width: 1285px) and (min-width: 1100px) and (max-height: 1025px) and (min-height: 1000px){
        width: 95%;
        height: 550px;
    }
    @media (max-height: 767px) and (min-width: 1250px) and (max-width: 1290px){
        height: auto;
    }
    @media (max-width: 1153px) and (min-width: 1140px) and (max-height: 866px) and (min-height: 850px){
        width: 95%;
        height: 550px;
    }
    @media (max-width: 1025px) and (orientation: landscape) {
        width: 95%;
        height: 445px;
    }
    @media (max-width: 1441px) and (min-width: 1300px) {
        height: 475px;
    }

    @media (max-width: 800px) and (orientation: portrait) {
        width: 460px;
        margin: auto;
        margin-top: 20px;
        height: 420px;
    }
    @media (max-width: 650px) and (orientation: portrait) {
        height: fit-content;
        width: 330px;
        margin: auto;
        margin-top: 5px;
    }
    @media (max-width: 351px) and (orientation: portrait) {
        //  width: 340px;
        width: 90%;
    }

    .supplier-selector {
        width: 80%;
     
        margin-top: 0 !important;
        @media (max-width: 1284px) and (min-width: 1250px) and (max-height: 725px) {
            left: 8%
        }
    }

    @media (max-width: 824px) and (orientation: landscape) {
        text-align: center;
        height: 350px;
    }
}
.eid-header {
    text-align: center;
    font-size: calc(16px + (19 - 16) * ((100vw - 200px) / (1000 - 300)));
    margin-bottom: 30px;
    font-weight: 500;
    @media (max-width: 1024px) {
        width: fit-content;
        // margin: 0 auto;
        font-size: calc(16px + (19 - 16) * ((100vw - 200px) / (1400 - 300)));
        // margin-bottom: 10%;
    }
    @media (max-width: 800px) {
        width: fit-content;
        // margin: 0 auto;
        font-size: calc(24px - 0.5vw);
        margin-left: 3vw;
        // margin-bottom: 10%;
    }
    @media (max-width: 430px) {
        width: fit-content;
        margin-bottom: 0px;
        // margin: 0 auto;
        font-size: calc(22px - 0.5vw);
        margin-left: 1vw;
        // margin-bottom: 10%;
    }
    @media (orientation: landscape) and (max-height: 1000px) {
        margin: 20px auto;
    }
}

.description-select-supplier {
    @media (max-width: 1024px) {
        width: fit-content;
        text-align: center;
        margin: 22px auto;
        font-size: 22px;
        margin-bottom: 0;
    }

    @media (max-width: 767px) {
        display: none;
    }

    @media (max-width: 320px) {
        // font-size: 13px;
        display: none;
    }
}

footer {
    background-color: #eeeeee;
    width: 100%;
    height: 10%;
    margin: 0 0 0px auto;

    @media (max-height: 830px) {
        // margin: 0 0 50px auto;
    }
    @media (max-width: 414px) {
        height: 7%;
        margin: 0 0 0px auto;
    }
    @media (max-width: 321px) {
        height: 7%;
        margin: 0 0 0px auto;
    }
    @media (orientation: landscape) and (max-height: 767px) {
        height: 16%;
    }
    @media (max-height: 767px) and (min-width: 1250px) and (max-width: 1290px){
        height: 10%;
    }
    @media (max-width: 654px) and (min-width: 652px) {
        height: 20%;
    }
}

.footer-content {
    height: 10px;
    font-size: calc(8px + (12 - 8) * ((100vw - 300px) / (1600 - 300)));
    margin: 20px auto;
    color: #666666;
    display: flex;
    width: 68%;
    @media (max-width: 500px) {
        width: 96%;
        position: relative;
        bottom: 5px;
        left: 15px;
    }
    @media (max-width: 410px) {
        width: 96%;
        position: relative;
        bottom: 12px;
        left: 15px;
    }
    @media (max-width: 410px) {
        width: 96%;
        position: relative;
        bottom: 12px;
        left: 15px;
    }

    @media (max-width: 1024px) and (orientation: landscape) and (max-height: 767px) {
        position: relative;
        bottom: 20px;
    }
    @media (max-width: 569px) and (max-height: 719px) {
        width: 96%;
        position: relative;
        bottom: 5px;
        left: 15px;
    }
}
.second-footer-text {
    color: black;
    font-size: 15px;

    @media (max-width: 769px) and (min-width: 420px) {
        font-size: 14px;
        position: relative;
        bottom: -10px;
    }
    @media (max-width: 415px) {
        font-size: 10px;
    }
    @media (max-width: 541px) and (orientation: portrait) {
        //  width: 340px;
        position: relative;
        bottom: 8px;
    }
    @media (max-width: 281px) and (orientation: portrait) {
        //  width: 340px;
        position: relative;
        bottom: 5px;
    }

    @media (max-width: 569px) and (max-height: 321px) and (min-width:567px) and (orientation: landscape) {
        bottom: 10px;
    }
    @media (max-width: 654px) and (min-width: 652px) {
        top: 6px;
    }
}
// .footer-content-responsive {
//     display: none;

//     @media (max-width: 767px), (max-height: 730px) {
//         display: inline-block;
//         height: 60px;
//         font-size: calc(8px + (12 - 8) * ((100vw - 300px) / (1600 - 300)));
//         margin: 0 auto;
//         color: #000;
//         bottom: 0;
//         width: 100%;
//         text-align: center;

//         .footer-link {
//             color: #014b6a;
//         }
//     }
// }
.profile-btn-mobile {
    display: none;
    @media (max-width: 824px) and (orientation: portrait) {
        display: inline-block;
        width: 90%;
        margin-top: 10px 0 0 0;
        position: relative;
        left: 3%;
    }
    @media (max-width: 824px) and (orientation: landscape) {
        display: inline-block;
        width: 90%;
        margin-top: 10px 0 0 0;
        position: relative;
        left: 7%;
    }
}
.create-edit-mobile {
    text-decoration: underline;
    @media (orientation: portrait) and (max-width: 415px) {
        font-size: 12px;
        margin-top: 15px;
    }
    @media (orientation: portrait) and (max-width: 541px) {
        font-size: 13px;
        margin-top: 15px;
    }
    @media (min-width: 560px) and (max-width: 577px) {
        font-size: 13px;
        margin-top: 15px;
    }
}
.create-edit-profile-mobile {
    background-color: whitesmoke;
    color: black;
    white-space: pre-wrap !important;
    overflow-x: hidden !important;
    text-decoration: underline;
    width: 250px;
    @media (orientation: portrait) and (max-width: 415px) {
        font-size: 12px;
        width: 300px;
        padding-left: 20px;
        text-decoration: underline;
        height: fit-content;
        position: relative;
        left: 3vw;
    }
    @media (max-width: 351px) and (orientation: portrait) {
        //  width: 340px;
        width: auto;
    }
    @media (max-width: 541px) and (orientation: portrait) {
        //  width: 340px;
        width: auto;
    }
    @media (max-width: 769px) and (min-height: 1023px) and (orientation: portrait) {
        //  width: 340px;
        width: auto;
        position: relative;
        left: 3vw;
    }
    @media (max-width: 850px) and (orientation: landscape) {
        //  width: 340px;

        font-size: 13px;
        width: auto;
    }
    @media (min-width: 560px) and (max-width: 577px) {
        font-size: 13px;
        margin-top: 15px;
        white-space: nowrap;
        width: 400px;
    }
}
.login-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-button-wrapper {
    margin-left: auto;
}

.lang-btn-holder {
    position: relative;
    top: 40px;
    left: 500px;
    @media (max-width: 1443px) {
        left: 220px;
    }
    @media (max-width: 1115px) {
        left: 150px;
    }
    @media (max-width: 1025px) {
        left: 50px;
        top: 50px;
    }
    @media (orientation: landscape) {
        top: 30px;
    }
    @media (max-width: 769px) and (orientation: portrait) {
        left: 50px;
        top: 10px;
    }
    @media (max-width: 610px) {
        top: 30px;
        left: 16vw;
    }
    @media (max-width: 415px) {
        top: 30px;
        left: 2vw;
    }
    @media (max-width: 376px) {
        top: 30px;
        left: -10px;
    }
    @media (max-width: 281px) and (orientation: portrait) {
        left: 0px;
    }
}
.create-edit-profile {
    @media (min-width: 1500px) {
        width: 400px;
    }
    white-space: pre-wrap !important;
    overflow-x: hidden !important;
    text-decoration: underline;
    width: 350px;
    @media (max-width: 1025px) {
        width: 260px;
    }
}
.create-edit-profile-info {
    white-space: pre-wrap !important;
    overflow-x: hidden !important;
    text-decoration: underline;
    width: 350px;
    position: relative;
    bottom: 20px;
    @media (max-width: 1025px) {
        width: 270px;
    }
}
.e-btn {
    margin: 2em auto;
    margin-bottom: 0;
    display: flex;
    width: 50%;
    background-color: green;

    span {
        margin: 0 auto;
    }
}
.footer-text {
    // @media(orientation: landscape) and (min-height: 1000px){
    //     position:relative;
    //     bottom: 2
    //     0px;

    // }
    text-align: justify;
    width: 65%;
    margin-right: 5vw;
    margin-left: 2vw;
    position: relative;
    bottom: 10px;
    @media (min-width: 1439px) {
        position: relative;
        bottom: 20px;
    }
    @media (max-width: 1025px) {
        position: relative;
        bottom: 15px;
    }
    @media (max-width: 541px) {
        width: 100%;
        bottom: 25px;
    }
    @media (max-width: 351px) and (orientation: portrait) {
        //  width: 340px;
        bottom: 20px;
    }
    @media (orientation: landscape) {
        bottom: 10px;
    }
    @media (max-width: 569px) and (max-height: 321px) and (orientation: landscape) {
        width: 100%;
    }
    @media (min-width: 560px) and (max-width: 577px) {
        bottom: 27px;
    }
}
.eu-logo {
    position: relative;

    @media (max-width: 1025px) {
        width: 30%;
    }
    @media (max-width: 769px) {
        width: 35%;
        left: 30px;
    }
    @media (max-width: 541px) {
        display: none;
    }
    @media (max-width: 569px) and (max-height: 321px) and (orientation: landscape) {
        display: none;
    }
}
